* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  background-color: lightblue;
}

.todoDivArea {
  display: flex;
  justify-content: center;
}

.todoDiv {
  width: 250px;
  border: 1px solid lightblue;
  border-radius: 30px;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.todoText {
  border: none;
}

.todoButton {
  width: 100px;
}
